<div class="right-block">
  <h4 class="right-header text-left">本月熱門促銷</h4>

  <div class="panel modu-block">
    <div class="panel-body text-center">
      <a href="{{rightad.link}}">
        <img class="img-responsive" style="margin: 0 auto;" src="{{rightad.photo}}" alt="{{rightad.intro}}" />
      </a>
    </div>
  </div>

</div>