<div class="main-content">
  <div class="container">
    <div class="row">
      <h1 class="h1 col-xs-12">免责声明</h1>

      <p class="col-xs-12 text-muted">
      魔都赔率以下简称为我司、本网站或本站
      </p>

      <ul class="col-xs-12 text-muted">
        <li>本网站内的所有广告内容均由广告商提供，本站仅提供一个展示、介绍的平台，我们不对其内容的准确性、可靠性、正当性、安全性、合法性等负责，亦不承担任何法律责任。</li>
        <li>所有广告内容仅供用户个人学习和研究，不得用于商业或者其他用途，否则，一切后果均由您自己承担，本站对此不承担任何法律责任。</li>
        <li>用户应当对刊载的所有广告内容的可靠性做出判断和评估，所有风险和责任由用户独自承担。任何情况下，因使用或者信赖广告内容而可能导致的意外、疏忽、侵权及其造成的一切直接或者间接的损失，本站均不承担任何法律责任。</li>
        <li>如用户发现广告商投放的广告内容涉嫌违法、反动、淫秽、色情、暴力、凶杀等，可投诉至我司官方投诉邮箱：<a href="mailto:complain@moduodds.com"></a>complain@moduodds.com</li>
        <li>以任何方式登录或者访问网站或直接、间接使用或参考广告内容，我们均视为用户自愿接受并完全同意本声明。</li>
      </ul>

    </div>
  </div>
</div>


