/*
*	################################################################################
*
*	My Custom Style for KINGADMIN
*	---------------------------------------------------------------------
*
*	Version		1.0
*	Author		Your Name
*
*	Override theme style or create your new styles. Direct change to main.css
*	is not recommended to avoid problems when theme updates arrived in the future
*
*	################################################################################
*/

/* ----- GLOBAL CLASSES ----- */
body {
    margin: 0;
    background-color: #0F1111 !important;
    font-weight: 400;
    /* background-image: url(/misc/img/moduodds/background.jpg); */
    background-blend-mode: saturation;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    font-size: 16px
}


h1,
h2,
h3,
h4,
li {
    color: #fff;
    margin: 0
}

p {
    text-align: justify;
    color: hsla(0,0%,100%,.75);
}

img.dropdown-arrow { width: 11px }

a { text-decoration: none }

.index-container{
    margin: 10px auto;
}

.navbar-modu {
    background-color: #013149;
    background-image: linear-gradient(#013149,rgba(0,21,31,.75));
    /*border-color: #0094db;*/
    min-height: 70px;
}
.navbar-modu > .container{ height: 100%; }


.navbar-modu a{
    color: #FFF;
}
.navbar-modu a:hover{
    color: #00aee4;
}

.navbar-header{
    position: absolute;
}

.navbar-collapse {
    position: relative;
    top: 10;
    text-align: center;
}

.modu-main-nav{ display: inline-block; }

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover{
    color: #00aee4;
}
.navbar-modu > .active > a{
    color: #00aee4;
}
.nav>li>a:focus,
.nav>li>a:hover{
    background-color: transparent;
}
.navbar-modu a:hover{
    color: #00aee4;
}

.navbar-nav{
    float: none;
}

.navbar-brand-modu{
    height: 50px;
}

.navbar-toggle{
    border-color: #0094db;
}

.dropdown-menu{ min-width: 240px; }

.menu-modu{
    background-color: #00192c;
    border-color: #0094db;
}
    .menu-modu > li > a{
        color: #0094db;
    }
    .menu-modu > li > a:hover,
    .menu-modu > li > a:focus{
        color: #0094db;
    }

.h1 {
    font-size: 150%;
    color: #D2D2D2;
}
p.text-muted {
    font-size: 110%;
    color: #D2D2D2;
}

.index-lead{
    font-size: 16px;
}

.h2 {
  color: #0094db;
}

    ul.wrap { list-style: none outside none; margin:0; padding: 0; text-align: center; }
    ul.wrap > li { margin: 0 10px; display: inline; }


.scrolltop{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
}
    .opt-totop{ display: none; }


.input-container{
    color: #fff;
    padding: 6px;
    margin-left: 0;
    margin-bottom: 7px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-radius: 8px;
    border: 1px solid #006b9f;
    background-color: rgba(0,0,0,.5);
    height: 48px;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.input-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    border: none;
}

.carousel-caption{
    padding-bottom: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    text-align: left;
    font-size: 110%;
    font-weight: bolder;
    letter-spacing: 2px;
}


.filter-container {
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.filter-cell{
    border-left: 1px solid #006b9f;
    margin-left: unset;
    color: #fff;
    padding: 6px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-radius: 8px;
    border: 1px solid #006b9f;
    background-color: rgba(0,0,0,.5);
    height: 48px;
    width: 100%;
    min-width: 65px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.filter-game:not(:first-child){
    margin-left: 8px;
}

.filter-cell a,
.filter-cell a:hover {
    color: #fff;
    text-decoration: none;
}
.img-filter{
    height: 25px;
}
.filter-cell span {
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
}

.modu-filter-container .filter-cell:first-of-type {
    border-left: 1px solid #006b9f;
    margin-left: unset;
}
.modu-filter-container .filter-cell {
    color: #fff;
    padding: 6px;
    margin-left: 9px;
    margin-bottom: 7px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-radius: 8px;
    border: 1px solid #006b9f;
    border-left-color: rgb(0, 107, 159);
    border-left-style: solid;
    border-left-width: 1px;
    background-color:rgba(0,0,0,.5);
    height: 48px;
    min-width: 65px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.odds-row{
    overflow: hidden;
    text-align: center;
    color: hsla(0,0%,100%,.8);
    background-color: rgba(0,36,54,.5);
    border: 1px solid rgba(0,107,159,.5);
    border-radius: 10px;
    margin: 11px 0;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    font-size: 100%;
    display: flex;
    flex-flow: row wrap;
}
.row-cell{
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 80px;
    line-height: normal;
}

.row-cell.icon{
    width:6.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .img-dataicon{
        height: 24px;
    }

.row-cell.time,
.row-cell.display {
    width: 11%;
}
    .title{
        width: 100%;
        height: 100%;
        line-height: 1.3;
        display: table;
    }
    .title > span{
        display: table-cell;
        vertical-align: middle;
    }

    .team-holder{
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        width: 29%;
    }
    .row-odds{
        margin-top: 8px;
        margin-bottom: 8px;
        font-family: Roboto;
        color: #fff;
        font-size: 125%;
        border-radius: 3px;
        border: 1px solid #006b9f;
        background-color: rgba(0,0,0,.5);
        height: 30px;
        line-height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .odds-home {
        background-color: #002436;
    }
    .odd-logo-holder{
        height: 30px;
        line-height: 30px;
        width: 25%;
        display: flex;
        flex-direction: column;
    }

    /*  */
    .logo-container{ margin:auto; }
    .logo-container .board-logo{
        width: 75px;
        height: 17px;
        text-align: center;
    }

    .team-holder .team-name {
        text-transform: uppercase;
        width: 75%;
        font-size: 100%;
        color: #fff;
        line-height: 80px;
    }
    .team-name a,
    .team-name a:hover {
        color: #FFF;
        text-decoration: none;
    }

.row-cell.vsicon{
    width: 4%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
.row-cell.append{
    width: 9.5%;
    border-left: 1px solid rgba(0,107,159,.5);
    background-color: rgba(0,0,0,.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.btn-more{
    display: block;
    width: 40%;
    margin: auto;
    padding: 10px;
    margin: 10px auto 30px;
}


.footer-inside{
    background-color: #002337;
    display: flex;
    align-items: center;
    height: 60px;
}
    .footer-inside > p{
        width: 400px;
        padding: 0;
        margin: 0 0px 0px 115px;
    }
    ul.wrap{
        text-align: left;
    }
    ul.wrap a{
        color: #FFF;
        text-decoration: none;
    }
    ul.wrap a:hover {
        color: #00aee4;
        text-decoration: none;
    }

/**
 * modal
 * */
.modal-lg{
    width: 98%;
    padding: auto 4%;
    min-height: 80%;
    border-radius: 8px;
    border: 1px solid #006b9f;
}
.close{
    color: hsla(0,0%,100%,.8);
    opacity: 0.8;
}
.modal-header{
    border: 1px solid #006b9f;
}
.modal-title {
    font-size: 150%;
    line-height: 1.42;
    color: hsla(0,0%,100%,.6);
}
.modal-subtitle{
    font-size: 135%;
    line-height: 1.2;
    color: hsla(0,0%,100%,.6);
}

.modal-body {
    color: #fff;
    text-align: left;
    padding-top: 5px;
    height: 100%;
    overflow-y: scroll;
}
.modal-body .team-name {
    text-transform: uppercase;
    font-size: 200%;
    line-height: 1.31;
    color: hsla(0,0%,100%,.8);
    text-align: center;
}
.modal-body .odds-cell {
    overflow: hidden;
    padding: 8px;
    height: 80px;
    width: 80%;
    margin: auto;
}

.odd-container{
    display: flex;
    border-radius: 10px;
    border: 1px solid #006b9f;
    background-color: rgba(0,0,0,.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100%;
    cursor: pointer;
}
.odd-container .logo-holder {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
    .odd-container .logo-holder img{
        width: 100%;
        max-width: 100px;
    }

.odd-container .odd-holder {
    border: 1px solid #006b9f;
    border-radius: 3px;
    width: 40%;
    max-width: 96px;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.odd-container .odd-holder.best-odd {
    background-color: rgba(0,255,10,.2);
}
    .odd-container .odd-holder span {
        font-style: normal;
        font-size: 125%;
        font-weight: 700;
        color: #fff;
        white-space: nowrap;
    }


.clickable{ cursor: pointer; }



.right-entry{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
    padding-bottom: 10px;
    line-height: 1.25;
}
.right-header{
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.right-news-img{
    background: rgba(0,0,0,0);
    -webkit-transition: background .25s ease-in-out;
    -o-transition: background .25s ease-in-out;
    transition: background .25s ease-in-out;
    width:140px;
    float: left;
}
    .right-news-img img{ vertical-align: middle; }

.date-gray{
    color: #a9aab7;
    text-align: left;
}
.date-gray,
.label-color {
    display: inline-block;
    margin: 0 8px 5px 0;
    font-size: 1.2rem;
}
.label-color {
    display: inline-block;
    padding: 3px 5px;
    background: #662483;
    line-height: 1;
    border-radius: 4px;
    color: #fff;
}

.right-title{
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2px;
    display: block;
    text-decoration: none;
}
.right-title:hover{
    transition: color .25s ease-in-out,background .25s ease-in-out,opacity .25s ease-in-out;
    text-decoration: none;
}
.right-excerpt{ line-height: 1.7; text-align: left; }

    .betting-logo{
        -webkit-box-shadow: 0 0 0 1px #e6e6e6 inset;
        box-shadow: 0 0 0 1px #e6e6e6 inset;
    }
.right-tab-bonus{
}


.left{ float: left; }
.right{ float:right; }

.adapt-container {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

#odds-table-container-desktop .odds-table-wrap {
    position: relative;
    background-color: #001e2c;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #003454;
}

#odds-table-container-desktop .title-row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 20px;
    height: 70px;
}
#odds-table-container-desktop .title-row .blue-indent {
    height: 100%;
    width: 5px;
    margin-right: 20px;
    background-color: #00aee4;
    float: left;
}
#odds-table-container-desktop .title-row .title-container {
    float: left;
    height: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#odds-table-container-desktop .title-row .title-container h2 {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
}

#odds-table-container-desktop .header-row {
    position: -webkit-sticky;
    position: sticky;
    top: 62px;
    color: #FFFFFF;
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #003454;
    position: -webkit-sticky;
    position: sticky;
    top: 85px;
    background-color: #001f2d;
    z-index: 1;
    text-transform: uppercase;
}
    #odds-table-container-desktop .header-row .load-more {
        width: 5%;
        float: right;
        font-weight: 400;
        font-size: 10px;
    }
    #odds-table-container-desktop .header-row .left {
        width: 25%;
        font-size: 15px;
        font-weight: 400;
    }

    #odds-table-container-desktop .header-row .right .index-cell {
        width: 7.143%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    #odds-table-container-desktop .header-row .index-cell .header-cell-img{
        width: 85%;
    }

        #odds-table-container-desktop .header-row .index-cell {
            float: left;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            height: 40px;
            line-height: 40px;
            width: 21%;
        }
        #odds-table-container-desktop .header-row .game{ width: 16%; }
        #odds-table-container-desktop .header-row .match{ width: 42%; }

    #odds-table-container-desktop .header-row .right {
        width: 70%;
        float: right;
    }

        #odds-table-container-desktop .header-row .right .index-cell {
            width: 7.143%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50%;
        }

#odds-table-container-desktop .event-row:nth-child(2n+1) {
    background-color: #002336;
}
#odds-table-container-desktop .event-row {
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #003454;
    color: #FFFFFF;
}
#odds-table-container-desktop .event-row:hover {
    background-color: #003454;
}

    #odds-table-container-desktop .event-row .left {
        width: 25%;
        font-size: 9px;
        font-weight: 400;
        border-right: 1px solid #003454;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

        #odds-table-container-desktop .event-row .left .index-cell{
            width: 21%;
            float: left;
            box-sizing: border-box;
            height: 55px;
            line-height: 55px;
        }
        #odds-table-container-desktop .event-row .left .index-cell.game {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding-left: 3px;
            padding-right: 3px;
            width: 16%;
        }

        #odds-table-container-desktop .event-row .left .index-cell.game img {
            height: 60%;
            max-width: 90%;
        }
        #odds-table-container-desktop .event-row .left .index-cell .text-container {
            width: 100%;
            height: 100%;
            line-height: 1.3;
            display: table;
        }
            #odds-table-container-desktop .event-row .left .index-cell .text-container span {
                display: table-cell;
                vertical-align: middle;
                padding-right: 3px;
                word-break: break-word;
            }
        #odds-table-container-desktop .event-row .left .index-cell.match {
            width: 42%;
        }

    #odds-table-container-desktop .event-row .right {
        width: 70%;
        font-weight: 400;
        font-size: 13px;
    }


    #odds-table-container-desktop .event-row .right .index-cell-pair {
        width: 7.143%;
        float: left;
        position: relative;
        border-right: 1px solid #003454;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #odds-table-container-desktop .event-row .right .index-cell-pair:hover {
        cursor: pointer;
        background-color: #001d2b;
    }

    #odds-table-container-desktop .event-row .index-cell {
        float: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 55px;
        line-height: 55px;
    }
    #odds-table-container-desktop .event-row .right .index-cell {
        width: 50%;
        position: relative;
        color: grey;
        pointer-events: none;
    }
        #odds-table-container-desktop .event-row .right .index-cell:nth-child(2n) span{
            line-height: 1;
            position: absolute;
            left: 5px;
            bottom: 5px;
        }
        #odds-table-container-desktop .event-row .right .index-cell:nth-child(2n+1) span {
            line-height: 1;
            position: absolute;
            left: 5px;
            top: 5px;
        }
        #odds-table-container-desktop .event-row .right .index-cell-pair .line {
            height: 55px;
            width: 100%;
            background: linear-gradient(to top left, transparent calc(50% - .5px),#003454, transparent calc(50% + .5px));
        }
            #odds-table-container-desktop .event-row .right .index-cell span.best {
                color: #fff;
            }
            #odds-table-container-desktop .event-row .right .index-cell:nth-of-type(2) div.best-triangle {
                width: 200%;
                height: 100%;
                margin-left: -100%;
                background-image: url(/misc/img/moduodds/best-triangle-right.png);
            }
            #odds-table-container-desktop .event-row .right .index-cell div.best-triangle{
                width: 200%;
                height: 100%;
                background-image: url(/misc/img/moduodds/best-triangle.png);
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                opacity: .5;
            }

    #odds-table-container-desktop .event-row .load-more {
        width: 5%;
        height: 55px;
        float: right;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
        background-color: #101111;
        cursor: pointer;
    }
        #odds-table-container-desktop .event-row .load-more span {
            color: #00aee4;
            font-size: 20px;
            font-weight: 400;
            -webkit-animation: color-change 1s infinite;
            animation-name: color-change;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: normal;
            animation-fill-mode: none;
            animation-play-state: running;
        }

.load-more-matches-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
    .blue-button{
        background-color: #00aee4;
        border-radius: 50px;
        border: none;
        margin-bottom: 10px;
        padding: 10px 20px;
        color: #fff;
        font-style: italic;
        cursor: pointer;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        -webkit-appearance: button;
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
    }

/**
 * 公司推薦
 * */
.provider-headinfo {
    margin: 0 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color:#001626;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #FFFFFF;
}
    .provider-headinfo .left-info {
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
        flex: 0 1 45%;
        padding: 12px;
        width: 100%;
    }

        .left-info .inner-grid {
            display: grid;
            grid-gap: 12px;
            -ms-grid-columns: 170px 12px 1fr;
            grid-template-columns: 170px 1fr;
            -ms-grid-rows: auto 12px auto;
            grid-template-areas: "logo line1""logo line2";
            -ms-grid-columns: 152px 12px 1fr;
            grid-template-columns: 152px 1fr;
            width: 100%;
        }
            .inner-grid .logo {
                width: 170px;
                min-height: 130px;
                -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
                align-self: stretch;
                grid-area: logo;
                position: relative;
                border-radius: 4px;
            }

                .provider-bedget {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #662483;
                    color: #fff;
                    text-decoration: none;
                    width: 30px;
                    line-height: 26px;
                    height: 26px;
                    text-align: center;
                    border-radius: 4px;
                    font-weight: 700;
                    font-size: 1.1rem;
                    z-index: 1;
                }
            .inner-grid .logo img {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                max-width: 85%;
                vertical-align: middle;
                border: none;
                box-sizing: border-box;
                height: auto;
            }

    .inner-grid .provider-data {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
    }
        .rating-box {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 90px;
            flex: 0 0 90px;
            margin-right: 12px;
            height: auto;
            background: #f4f4f4;
            border-radius: 4px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            min-height: 74px;
        }
            .rating-box .value,
            .list-rating .value{
                line-height: 1;
                font-family: 'Rajdhani',sans-serif;
                font-weight: 500;
                font-size: 1.6rem;
            }
                .rating-box .value span,
                .list-rating .value span{ font-size: 2.4rem; }

            .rating-stars {
                width: 50px;
                height: 9px;
                background: url(/misc/img/moduodds/rating-star-gray.svg) repeat-x;
                background-size: auto 9px;
                -ms-flex-item-align: center;
                -ms-grid.entry-align: center;
                -ms-grid-row-align: center;
                align-self: center;
                margin: 5px auto 0;
            }
            .rating-stars .rating-stars-active {
                height: 9px;
                background: #fff url(/misc/img/moduodds/rating-star-golden.svg) repeat-x;
                background-color: rgb(255, 255, 255);
                background-size: auto 9px;
                display: block;
            }

    .inner-grid .bonus-data {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin: 0;
        text-align: left;
    }

    .inner-grid .bonus-data .bonus-title,
    .inner-grid .bonus-data .bonus,
    .bonusbox-shortcode .cell.bonus .title,
    .bonusbox-shortcode .cell.bonus .bonus-value {
        font-size: 2rem;
        font-family: 'Rajdhani',sans-serif;
        font-weight: 800;
        line-height: 1;
    }

    .inner-grid .bonus-data .bonus,
    .bonusbox-shortcode .cell.bonus .bonus-value {
        font-size: 2.4rem;
        font-family: 'Rajdhani',sans-serif;
        font-weight: 600;
        margin-top: 5px;
    }

    .top-box-table .cell .smaller-text,
    .legal-advice {
        font-size: 1.1rem;
        color: #a9aab7;
        margin-top: 10px;
        line-height: 1;
    }

    .conversion-btn{ margin: 0; }

    .button:hover::after, a.button:hover::after {
        left: calc(100% + 150px * 1);
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    a {
        -webkit-transition: color .25s ease-in-out,background .25s ease-in-out,opacity .25s ease-in-out;
        -o-transition: color .25s ease-in-out,background .25s ease-in-out,opacity .25s ease-in-out;
        transition: color .25s ease-in-out,background .25s ease-in-out,opacity .25s ease-in-out;
    }

    .button.fullwidth{ display: block; }
    .button, a.button {
        border-radius: 4px;
        background: #6fa913;
        color: #fff;
        padding: 12px 30px;
        line-height: 20px;
        display: inline-block;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font-size: 1.8rem;
        font-family: 'Rajdhani',sans-serif;
        position: relative;
        overflow: hidden;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
    }
    .button::after,
    a.button::after {
        content: "";
        height: 100%;
        width: 150px;
        position: absolute;
        left: -150px;
        top: 0;
        background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.01) 1%,rgba(255,255,255,.5) 50%,rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(1%,rgba(255,255,255,.01)),color-stop(50%,rgba(255,255,255,.5)),to(rgba(255,255,255,0)));
        background: -o-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.01) 1%,rgba(255,255,255,.5) 50%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,.01) 1%,rgba(255,255,255,.5) 50%, rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#00ffffff',GradientType=1);
        -webkit-transition: all .25s5s ease-in-out;
        -o-transition: all .25s5s ease-in-out;
        transition: all .25s5s ease-in-out;
        border-radius: 4px;
    }

    .button::before, a.button::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(102,36,131);
        background: -webkit-linear-gradient(left,rgba(102,36,131,1) 0%,rgba(135,50,181,1) 100%);
        background: -webkit-gradient(linear,left top,right top,from(rgba(102,36,131,1)),to(rgba(135,50,181,1)));
        background: -o-linear-gradient(left,rgba(102,36,131,1) 0%,rgba(135,50,181,1) 100%);
        background: linear-gradient(to right,rgba(102,36,131,1) 0%,rgba(135,50,181,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#662483',endColorstr='#8732b5',GradientType=1);
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        -o-transition-property: transform;
        transition-property: transform;
        transition-property: transform,-webkit-transform;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        border-radius: 4px;
    }

    .conversion-btn .reviewlink {
        margin-top: 8px;
        display: inline-block;
        line-height: 1;
        color: #011626;
        width: 100%;
        text-align: left;
        font-size: 13px;
        text-decoration: underline;
    }

.provider-headinfo .detail-info {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 55%;
    flex: 0 1 55%;
    display: flex;
    position: relative;
    align-self: stretch;
    border-left: 1px solid #e6e6e6;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
    .detail-info .offered-games {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        border-bottom: 1px solid #e6e6e6;
        display: flex;
        flex: 1 0 100%;
        position: relative;
        padding: 12px 12px 6px;
    }

    .detail-info .offered-games > div{ display: flex; }

    .detail-info .detail-title{
        padding-top: 10px;
        line-height: 13px;
        margin-bottom: 8px;
        font-size: 13px;
    }

    .detail-info .offered-games > div.flexible-menu-wrapper {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-right: 0;
        padding: 0 10px;
    }
        .flexible-menu-wrapper.games {
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }

    .flexible-menu-wrapper.games ul.flexible-menu {
        display: block;
        overflow: hidden;
        margin: 0;
        height: 47px;
        width: calc(100% - 20px * 1);
    }
        .flexible-menu-wrapper.games ul.flexible-menu li{
            padding-right: 5px;
            margin-bottom: 5px;
            -ms-flex-item-align: stretch;
            -ms-grid-row-align: stretch;
            align-self: stretch;
            -webkit-transition: all .4s ease-out;
            -o-transition: all .4s ease-out;
            transition: all .4s ease-out;
            outline: 0;
            border: 0;
            display: inline-block;
            float: left;
        }
            .flexible-menu-wrapper.games ul.flexible-menu li span,
            .flexible-menu-wrapper.games button.flexible-menu-show-more,
            .flexible-menu-wrapper.games .flexible-menu-hidden-links li span,
            .menu-show-more{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-transition: all .4s ease-out;
                -o-transition: all .4s ease-out;
                transition: all .4s ease-out;
                outline: 0;
                border: 0;
                width: 52px;
                height: 42px;
                background: #f4f4f4;
                border-radius: 4px;
                -webkit-box-shadow: 0 0 0 1px #e6e6e6 inset;
                box-shadow: 0 0 0 1px #e6e6e6 inset;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
            .flexible-menu-wrapper.games ul.flexible-menu li img,
            .flexible-menu-wrapper.games ul.flexible-menu-hidden-links li img,
            .detail-info .sub-line > div ul li img{
                max-width: 90%;
                max-height: 90%;
            }
    .detail-info .sub-line{
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .detail-info .sub-line > div {
        padding: 12px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
    }
        .detail-info .sub-line > div ul{
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            margin: 0;
            padding: 0;
        }
            .detail-info .sub-line > div ul li{
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 42px;
                width: 74px;
                max-width: calc(((100vw - 48px) / 4) - 5px * 1);
                margin-right: 5px;
                border-radius: 4px;
                -webkit-box-shadow: 0 0 0 1px #e6e6e6 inset;
                box-shadow: 0 0 0 1px #e6e6e6 inset;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }

    .detail-info .sub-line > div.license {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-ordinal-group: 2;
        order: 1;
        text-align: left;
    }
        .detail-info .sub-line > div.license ul li{
            max-width: calc(((100vw - 48px) / 4) - 14px * 1);
        }

    .detail-info .sub-line > div.payment {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        text-align: left;
    }
    .detail-info .sub-line > div.countries {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 155px;
        flex: 0 1 155px;
        min-width: 155px;
        text-align: left;
        order: 3;
    }

    .bonus-value{
        transition: box-shadow 0.25s ease-out,-webkit-box-shadow 0.25s ease-out;
        box-shadow: 0 0 0 1px #f4f4f4 inset;
        background: #fff;
        border: 1px solid #011626;
        border-radius: 4px;
        font-weight: 700;
        padding: 12px 5px;
        width: 100%;
        max-width: 200px;
        margin: auto;
        text-align: center;
        font-size: 18px;
        line-height: 1;
        font-family: 'Rajdhani',sans-serif;
        font-weight: 700;
    }

    .smaller-text{
        color: #a9aab7;
        font-size: 13px;
        margin-top: 10px;
        line-height: 1;
        text-align: left;
    }

.modu-block {
    border: 1px solid #006b9f;
    border-radius: 3px;
    background-color: rgba(0,36,54,.5);
}
.modu-block-footer{
    border-top: 1px solid #006b9f;
}

.top-betting{
    padding: 10px;
    margin:5px 5px 30px;
    min-height: 200px;
}

.cell .logo-link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    height: 100%;
    border-radius: 4px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 110px * 1);
    flex: 0 0 calc(100% - 110px * 1);
    border-radius: 4px;
}

.position{
  position: absolute;
  top: 0;
  left: 0;
  background: #662483;
  color: #fff;
  text-decoration: none;
  width: 30px;
  line-height: 26px;
  height: 26px;
  text-align: center;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.1rem;
  z-index: 1;
}
.boxcell.rating{
  height: 74px;
  background:#f4f4f4;
  border-radius: 4px;
  text-align: center;
  display: table-cell;
}
.rating-list{
  height: 74px;
  background:#f4f4f4;
  border-radius: 4px;
  text-align: center;
  display: table-cell;
}
.value{ vertical-align: middle; }

.cell-title{
  font-size: 1.3em;
  color: #DDD;
  text-align: left;
}
.highlights{
  clear: both;
  margin-top: 10px;
}
.highlights li{
  margin-left: -20px;
}

.list-betting{
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  padding: 15px 7px;
  margin: 10px 5px;
}
.cell {
  margin: 0 5px;
}

.list-logo{
  flex: 0 0 150px;
  -webkit-box-flex: 0;
  box-shadow: 0 0 0 1px #e6e6e6 inset;
}
  .list-logo-link{
    position: relative;
    display: flex;
    height: 100%;
    border-radius: 4px;
    justify-content: center;
  }

  .list-logo a {
    display: flex;
    height: 100%;
    justify-content: center;
    border-radius: 4px;
    position: relative;
  }

  .list-logo a img{
    max-height: 70px;
    width: 90%;
    align-self: center;
  }

.list-rating{
  display: flex;
  flex: 0 0 100px;
  width: 100px;
  max-height: 74px;
  background:#f4f4f4;
  border-radius: 4px;
  -webket-box-flex: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: box-shadow 0.25s ease-out,-webkit-box-shadow 0.25s ease-out;
  box-shadow: 0 0 0 1px #f4f4f4 inset;
}
.list-highlights{
  flex: 0 1 340px;
  max-width: 340px;
  padding: 0 5px;
  text-align: left;
}
  .list-highlights ul{
    padding-left: 15px;
  }
  .list-highlights li{ text-align: left; }

.list-bonus{
  flex: 0 0 190px;
  padding-top: 10px;
  border-radius: 4px;
}


.list-button{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  margin-left: 10px;
  padding-left: 15px;
  position: relative;
  max-width: 200px;
  padding-top: 10px;
}

.right-block .panel{
    color: #FFF;
    background-color: rgba(0,0,0,.5);
    min-height: 150px;
}
.right-block .panel-footer{
    color: #FFF;
    background-color: rgba(0,0,0,.4);
    min-height: 30px;
}

.modu-bkcolor{
    background-color: rgba(0,0,0,.5);
}
.betting-intro,
.betting-scrollspy{
    padding: 10px;
    margin-bottom: 20px;
    color: hsla(0,0%,100%,.75);
    text-align: justify;
}
.betting-scrollspy h4{
}


#footAdBlock{
    margin: 20px auto;
    padding: 0;
}
    .adblock-item{
        padding: 0;
        text-align: center;
    }
    .adblock-item > a{
        display: inline-block;
    }

/**
 * News
 * 電競新聞
 */
.box{
    box-shadow: 0 0 5px rgba(0,0,0,.08);
}
.top-news-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 12px;
    -ms-grid-rows: auto 12px auto;
    grid-template-areas:
        "top small1"
        "top small2";
    -ms-grid-columns: 1fr 12px minmax(250px,31%);
    grid-template-columns: 1fr minmax(250px,31%);
}

.box-entry{
    color: #FFF;
}

.top-news-container .box-entry.bigger {
    grid-area: top;
}

.news-image-container {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    height: 0;
    padding-top: calc(450 / 800 * 100%);
    background-size: 100% auto;
    background-position: center;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.news-image-container .title-box{
    position: absolute;
    bottom: 0;
    padding: 15px;
    color: #fff;
    z-index: 1;
    background-color: rgba(0,0,0,.5);
    text-align: left;
}
    .category-purple {
        display: inline-block;
        padding: 3px 5px;
        background: #662483;
        line-height: 1;
        border-radius: 4px;
        color:#fff;
    }

h3.h3{
    font-size: 110%;
    text-align: left;
    margin-top: 5px;
    margin-bottom: -10px;
}
.h3 a,
.h3 a:hover{
    color: #D2D2D2;
}

.news-excerpt{
    text-align: justify;
    padding: 10px;
}
    .read-more {
        display: inline-block;
        margin-left: 6px;
        color: #662483;
        cursor: pointer;
    }

.news-box{ margin-top: 20px; }
    .news-item{ padding: 10px; }
    .news-thumbnail{ width: 200px; }


/**
 * bonus table
 * */
.top-box-table .entry{
}

.top-box-table:not(.col-4) .cell.logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
}
.top-box-table .entry:hover {
    background-color: #fafafa;
    -webkit-transition: background .25s ease-in-out;
    -o-transition: background .25s ease-in-out;
    transition: background .25s ease-in-out;
}


/* responsive */
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    body {
        font-size: 16px;
    }

    .container{ width: 1340px; }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        font-size: 14px;
        background-size: cover;
        background-repeat: no-repeat
    }

    .container {
        width: 1500px !important;
    }

    .desktop {
        display: block !important
    }

    .mobile {
        display: none
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 13px;
    }

    .cell {
        margin: 10px 5px;
    }

    .container {
        -webkit-box-flex: 0;
        max-width: 95%;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    body {
        font-size: 12px;
    }

    .container {
        max-width: 95%
    }

    .list-button {
        flex: 0 0 calc(100% - 12px * 1);
    }

    .filter-cell {
        margin-bottom: 5px;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    body {
        font-size: 11px;
    }

    .container {
        max-width: 95%
    }

    .list-button {
        flex: 0 0 calc(100% - 12px * 1);
    }

    .filter-cell {
        margin-bottom: 5px;
    }
}